#export(install_databases)
export(resolve_metabolites)
exportClasses(PubchemHandler)
exportClasses(HmdbHandler)
exportClasses(KeggHandler)
exportClasses(LipidmapsHandler)
exportClasses(ChebiHandler)
export(db.query)
