import(Rcpp)
import(httr)
import(RPostgreSQL)
importFrom(stringr, str_detect)
importFrom(stringr, str_match_all)

importFrom(stringr, str_split)

import(sets)
import(XML)
import(DBI)
import(config)
import(iterators)
export(install_databases)
export(bulk_insert_secondary_ids)
export(bulk_insert_lipidmaps)
export(bulk_insert_hmdb)
export(bulk_insert_chebi)
export(resolve_metabolites)
exportClasses(PubchemHandler)
exportClasses(HmdbHandler)
exportClasses(KeggHandler)
exportClasses(LipidmapsHandler)
exportClasses(ChebiHandler)
export(db.query)
export(db.connect)
export(db.disconnect)
export(db.transaction)
export(db.commit)
export(db.rollback)
export(db.write_df)
export(db.create_database)
export(null2na)
export(is.empty)
export(lstrip)
export(join_sql_arr)
export(pg_vector2str)
export(pg_str2vector)
export(convert_df_to_db_array)
export(mod)
export(create_empty_record)
export(transform_df)
export(revert_df)
export(http_call_api)
export(id_to_url)
export(create_kegg_record)
export(create_pubchem_record)
export(do_consistency_test)
#export(write_config)
